body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:45px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3386 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u3387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3387 {
  position:absolute;
  left:25px;
  top:2px;
  width:18px;
  height:18px;
  text-align:left;
}
#u3388 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3390 {
  position:absolute;
  left:0px;
  top:38px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3391 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3392 {
  position:absolute;
  left:2px;
  top:40px;
  width:18px;
  height:18px;
  text-align:left;
}
#u3393 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3395 {
  position:absolute;
  left:0px;
  top:78px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3396 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u3397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3397 {
  position:absolute;
  left:25px;
  top:80px;
  width:18px;
  height:18px;
  text-align:left;
}
#u3398 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3401 {
  position:absolute;
  left:0px;
  top:116px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3402 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3403 {
  position:absolute;
  left:25px;
  top:118px;
  width:18px;
  height:18px;
  text-align:left;
}
#u3404 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3405 {
  position:absolute;
  left:10px;
  top:122px;
  width:10px;
  height:10px;
}
#u3406 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3409 {
  position:absolute;
  left:0px;
  top:155px;
  width:45px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u3410 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3411 {
  position:absolute;
  left:2px;
  top:157px;
  width:18px;
  height:18px;
  text-align:left;
}
#u3412 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3413 {
  position:absolute;
  left:26px;
  top:161px;
  width:10px;
  height:10px;
}
#u3414 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
